[user]
  name = Ruslan Fostii
  email = fostiiruslan2706@gmail.com

[alias]
  st = status
  co = checkout
  br = branch
  cm = commit
  lg = log --oneline --graph --decorate --all
  undo = reset --soft HEAD~1
